.App {
	text-align: center;
}
.header {
	text-align: center;
	width: 100%;
}
.body {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}
.sidebar {
	justify-items: left;
	position: relative;
	border: solid black;
	border-radius: 10px;
	width: 20vw;
	margin-left: 10px;
}
.item-selection {
	position: absolute;
	left: 25%;
	width: 100%;
	width: 50vw;
	border: solid black;
	border-radius: 10px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(63, 165, 253);
	z-index: -1;
}
.cart-button {
	cursor: pointer;
	position: absolute;
	left: 25px;
	top: 20px;
	font-size: 30px;
}

.closeBtn {
	position: relative;
	left: 150px;
	top: 15px;
	border: none;
	background-color: rgb(63, 165, 253);
	height: 40px;
	width: 12.5%;
	font-size: 30px;
	cursor: pointer;
}
.cart {
	display: block;
}
.cartItem {
	display: flex;
}
.delBtn {
	height: 20px;
	background-color: rgb(63, 165, 253);
	border: none;
}
.delBtnDiv {
	position: absolute;
	left: 80%;
	margin-top: 15px;
}
.itemName {
	text-align: right;
	position: absolute;
}
.itemPrice {
	position: absolute;
	left: 40%;
}
.cartQuantity {
	position: absolute;
	left: 70%;
}
.itemObject {
	border: solid black;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: 5px 5px 5px 5px;
	background-color: aliceblue;
	display: inline-block;
}
.productImg {
	width: 200px;
	height: 200px;
}
.name {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.desc {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 12px;
}
.price {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.btn {
	border: none;
	background-color: rgb(63, 165, 253);
	height: 10%;
	margin-top: 10px;
	cursor: pointer;
}
.btn:hover {
	background-color: rgb(125, 194, 255);
}
.btn:active {
	border: none;
	transform: translateY(4px);
}
.cartButton {
	margin: 5px 5px 5px 5px;
	height: 30px;
	cursor: pointer;
}
.endOfCart {
	justify-content: space-evenly;
}
.modal {
	height: 50%;
	width: 60%;
	max-width: 100%;
	border: solid;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
input {
	width: 60%;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	display: inline-block;
	margin: 8px;
	box-sizing: border-box;
}
#cvc {
	width: 7%;
}
#ccn {
	width: 50%;
}
